Repository Radical-Tools/Radical.Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": "eslint --max-warnings 0 --fix ",
    "*.{js,jsx,md,html,css}": "prettier --write"
}

Add admin panel
  src/controller/actions/actionCreators.js
  src/controller/handlers/localStorage.js
  src/controller/localStorageController.js
  src/view/components/DialogAppBar.jsx
  src/view/layout/AdminDialog.jsx
  src/view/layout/HomeDialog.jsx
  src/view/layout/MainLayout.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Feature/admin dialog (#158)
  src/app/App.jsx
  src/app/appContainer.js
  src/app/useGlobalKeyboardShortcuts.js
  src/controller/actions/actionCreators.js
  src/controller/handlers/layout.js
  src/controller/handlers/localStorage.js
  src/controller/handlers/project.js
  src/controller/handlersMap.js
  src/controller/localStorageController.js
  src/model/historyReducer.js
  src/model/undoReducer.js
  src/view/components/DialogAppBar.jsx
  src/view/layout/AdminDialog.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/layout/MainLayout.jsx
  src/view/layout/MainLayoutContainer.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add cache control
  .github/workflows/aws-deploy.yml
Due: none

Fix action
  .github/workflows/aws-deploy.yml
Due: none

Restore push on main
  .github/workflows/aws-deploy.yml
Due: none

Feature/cache control (#159)
  .github/workflows/aws-deploy.yml
Due: none

Change project version
  package.json
  src/controller/handlers/state.js
  src/tests/e2e/resources/test.radical
Due: eslint --max-warnings 0 --fix, prettier --write

Change project version (#165)
  package.json
  src/controller/handlers/state.js
  src/tests/e2e/resources/test.radical
Due: eslint --max-warnings 0 --fix, prettier --write

Add contributing md
  CONTRIBUTING.md
Due: prettier --write

Commnet join the project team
  CONTRIBUTING.md
Due: prettier --write

Comment useful entries for the future
  CONTRIBUTING.md
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Add test url 5000 port
  .env.test
Due: none

Add readme
  .env.test
  README.md
  package.json
Due: prettier --write

Fix contributing
  CONTRIBUTING.md
Due: prettier --write

Fix readme
  README.md
Due: prettier --write

Add styleguide
  CONTRIBUTING.md
Due: prettier --write

Fix formatting
  CONTRIBUTING.md
Due: prettier --write

[WIP] Feature/public repo (#167)
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
Due: prettier --write

Fix delete bug
  src/view/widgets/DiagramWidget/diagram/core/RadicalDiagramEngine.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix delete bug (#168)
  src/view/widgets/DiagramWidget/diagram/core/RadicalDiagramEngine.js
Due: eslint --max-warnings 0 --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: none

Update dependencies (#169)
  package-lock.json
  package.json
Due: none

history merge issue fixed
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
Due: eslint --max-warnings 0 --fix, prettier --write

texts updated
  src/view/components/ToolbarMenu.jsx
  src/view/components/ViewExportMenu.jsx
  src/view/layout/AdminDialog.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/panels/PresentationTimelineToolbarWidget.jsx
  src/view/panels/PresentationsToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Improvements/minor fixes (#170)
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
  src/view/components/ToolbarMenu.jsx
  src/view/components/ViewExportMenu.jsx
  src/view/layout/AdminDialog.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/panels/PresentationTimelineToolbarWidget.jsx
  src/view/panels/PresentationsToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

presentation and view flow updated
  src/view/panels/PresentationsToolbarWidget.jsx
  src/view/panels/ViewsToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Commit validation push and pull request
  .github/workflows/commit-validation.yml
Due: none

Add desc tooltip for node
  src/view/components/NodeContextPanel.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add only outgoing links descriptions
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add component for description
  src/view/components/NodeDescriptionIcon.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix tests
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add on push only commit validation
  .github/workflows/commit-validation.yml
Due: none

Bump version
  package.json
Due: none

Adding tooltip for Node and link description (#172)
  .github/workflows/commit-validation.yml
  package.json
  src/view/components/NodeContextPanel.jsx
  src/view/components/NodeDescriptionIcon.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Improve node description feature
  src/view/components/NodeDescriptionIcon.jsx
  src/view/widgets/DiagramWidget/diagram/links/RadicalLinkModel.js
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeModel.js
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Update version
  package.json
Due: none
