Repository Radical-Tools/Radical.Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": "eslint --max-warnings 0 --fix ",
    "*.{js,jsx,md,html,css}": "prettier --write"
}

Feature/store structure refactor (#188)
  package-lock.json
  package.json
  public/example-projects/Test Project-0.2.0.radical
  src/controller/actions/actionCreators.js
  src/controller/handlers/common.js
  src/controller/handlers/history.js
  src/controller/handlers/localStorage.js
  src/controller/handlers/localStorage.test.js
  src/controller/handlers/model.js
  src/controller/handlers/presentation.js
  src/controller/handlers/project.js
  src/controller/handlers/state.js
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
  src/controller/hooks/useProjectUrlLoad.js
  src/model/historyReducer.js
  src/model/initialState.js
  src/model/modelReducer.test.js
  src/model/viewModelReducer.test.js
  src/view/components/FileReader.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/layout/MainLayoutContainer.jsx
  src/view/layout/TopMenuContainer.jsx
  src/view/panels/metamodelToolbarContainer.js
  src/view/panels/modelToolbarContainer.js
  src/view/panels/presentationTimelineToolbarContainer.js
  src/view/panels/presentationsToolbarContainer.js
  src/view/panels/viewsToolbarContainer.js
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix test file name
  src/tests/e2e/resources/Test Project-0.1.0.radical
  src/tests/e2e/tests/mainApp.test.js
Due: eslint --max-warnings 0 --fix, prettier --write

Add 0.1.4 file tests
  src/tests/e2e/resources/Radical Tools-0.1.4.radical
  src/tests/e2e/tests/mainApp.test.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix npm audit and add fixed rjsf material ui dependency
  package-lock.json
  package.json
  src/view/components/CommonForm.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add restore links
  src/controller/actions/actionCreators.js
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
  src/view/widgets/DiagramWidget/diagram/states/RadicalState.js
Due: eslint --max-warnings 0 --fix, prettier --write

Refactor diagram menu
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/components/ObjectMenuWrapper.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Refactor diagram widget for better readability
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/components/ObjectMenuWrapper.jsx
  src/view/widgets/DiagramWidget/diagram/hooks/useCallbackRegistration.js
  src/view/widgets/DiagramWidget/diagram/hooks/useDragAndDrop.js
  src/view/widgets/DiagramWidget/diagram/hooks/useViewSetup.js
Due: eslint --max-warnings 0 --fix, prettier --write

Bump version
  package-lock.json
  package.json
Due: none

Feature/fix rjsf dependency and restore links (#190)
  package-lock.json
  package.json
  src/controller/actions/actionCreators.js
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
  src/tests/e2e/resources/Radical Tools-0.1.4.radical
  src/tests/e2e/resources/Test Project-0.1.0.radical
  src/tests/e2e/tests/mainApp.test.js
  src/view/components/CommonForm.jsx
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/components/ObjectMenuWrapper.jsx
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
  src/view/widgets/DiagramWidget/diagram/hooks/useCallbackRegistration.js
  src/view/widgets/DiagramWidget/diagram/hooks/useDragAndDrop.js
  src/view/widgets/DiagramWidget/diagram/hooks/useViewSetup.js
  src/view/widgets/DiagramWidget/diagram/states/RadicalState.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix scroll behaviour when zooming canvas
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add deploy for feature
  .github/workflows/aws-deploy-next.yml
Due: none

Fix index
  .github/workflows/aws-deploy-next.yml
Due: none

Fix index again
  .github/workflows/aws-deploy-next.yml
Due: none

feat: building for extension
  config-overrides.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write

FIx packages
  package-lock.json
  src/view/layout/NotificationsDisplayHandler.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

SignalR solution with first implementation
  backend/Radical.Studio.Server/.gitignore
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Models/Workspace.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Radical.Studio.Server.SignalR.Application.csproj
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Services/IWorkspaceService.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Infrastructure/Radical.Studio.Server.SignalR.Infrastructure.csproj
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Infrastructure/Services/InMemoryWorkspaceService.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Hubs/WorkspaceHub.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Program.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/launchSettings.json
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Radical.Studio.Server.SignalR.csproj
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/appsettings.Development.json
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/appsettings.json
  backend/Radical.Studio.Server/Radical.Studio.Server.sln
Due: none

Add second metamodel
  src/controller/handlers/state.js
  src/controller/selectors.js
  src/data/metamodels/erd/ERDIcons.jsx
  src/data/metamodels/erd/erdMetamodel.js
  src/data/metamodels/metamodels.js
  src/view/panels/MetamodelToolbarWidget.jsx
  src/view/panels/metamodelToolbarContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Added simple SignalR client
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/App.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Data/WeatherForecast.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Data/WeatherForecastService.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/Counter.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/Error.cshtml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/Error.cshtml.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/FetchData.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/Index.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/_Host.cshtml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Pages/_Layout.cshtml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Program.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Properties/launchSettings.json
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Radical.Studio.Server.SignalR.Client.csproj
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Shared/MainLayout.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Shared/MainLayout.razor.css
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Shared/NavMenu.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Shared/NavMenu.razor.css
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/Shared/SurveyPrompt.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/_Imports.razor
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/appsettings.Development.json
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/appsettings.json
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/bootstrap/bootstrap.min.css
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/bootstrap/bootstrap.min.css.map
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/FONT-LICENSE
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/ICON-LICENSE
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/README.md
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/css/site.css
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Client/wwwroot/favicon.ico
  backend/Radical.Studio.Server/Radical.Studio.Server.sln
Due: prettier --write

Add working erd
  src/controller/handlers/common.js
  src/controller/handlers/model.js
  src/controller/handlers/viewModel.js
Due: eslint --max-warnings 0 --fix, prettier --write

feat: working sync with files
  package-lock.json
  src/app/App.jsx
  src/app/appContainer.js
  src/controller/actions/actionCreators.js
  src/controller/handlers/project.js
  src/controller/handlers/state.js
  src/model/store.js
Due: eslint --max-warnings 0 --fix, prettier --write

added saving workspace state in server memory, added many messages
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/MessageBase.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/WorkspaceCreatedMessage.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/WorkspaceJoinedMessage.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/WorkspaceLeftMessage.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/WorkspaceRemovedMessage.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Messages/WorkspaceStateChangedMessage.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Models/Workspace.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Radical.Studio.Server.SignalR.Application.csproj
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Application/Services/IWorkspaceService.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR.Infrastructure/Services/InMemoryWorkspaceService.cs
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Hubs/WorkspaceHub.cs
Due: none

ending/receiving works
  package.json
  src/app/App.jsx
  src/app/appContainer.js
  src/controller/actions/actionCreators.js
  src/controller/handlers/cooperate.js
  src/controller/handlers/project.js
  src/controller/handlersMap.js
  src/model/initialState.js
  src/model/store.js
  src/view/layout/Drawer.jsx
  src/view/layout/MainLayout.jsx
  src/view/layout/MainLayoutContainer.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: package lock for npm 8
  .npmrc
  package-lock.json
Due: none

Added a publish profiles for backend SignalR server.
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - FTP.pubxml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - FTP.pubxml.user
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - Web Deploy.pubxml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - Web Deploy.pubxml.user
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - Zip Deploy.pubxml
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Properties/PublishProfiles/hackaton-signalr - Zip Deploy.pubxml.user
  backend/Radical.Studio.Server/Radical.Studio.Server.SignalR/Radical.Studio.Server.SignalR.csproj.user
Due: none

feat: works with smaller sizes
  src/app/consts.js
  src/model/store.js
  src/view/layout/HomeDialog.jsx
  src/view/panels/MetamodelToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: scroll icons on small screen
  src/view/panels/MetamodelToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Hide attributes dynamically from grid
  src/controller/selectors.js
  src/view/panels/ModelToolbarWidget.jsx
  src/view/panels/modelToolbarContainer.js
  src/view/widgets/ObjectGridWidget.jsx
  src/view/widgets/RelationGridWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: disable history when extension and better scroll look
  src/app/consts.js
  src/app/useGlobalKeyboardShortcuts.js
  src/view/layout/TopMenu.jsx
  src/view/layout/TopMenuContainer.jsx
  src/view/panels/MetamodelToolbarWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

fix: connection fixes
  src/app/App.jsx
  src/index.jsx
  src/model/store.js
  src/view/layout/MainLayout.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

presentation-grade solution
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Microsoft.AspNetCore.Connections.Abstractions.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Microsoft.AspNetCore.SignalR.Common.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Microsoft.Extensions.Features.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Microsoft.OpenApi.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/SignalRHub.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/SignalRHub.exe
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/SignalRHub.pdb
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
  backend2/SignalRHub/SignalRHub/bin/Debug/net6.0/System.IO.Pipelines.dll
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/SignalRHub.AssemblyInfo.cs
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/SignalRHub.AssemblyInfoInputs.cache
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/SignalRHub.GeneratedMSBuildEditorConfig.editorconfig
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/SignalRHub.GlobalUsings.g.cs
  backend2/SignalRHub/SignalRHub/obj/Debug/net6.0/SignalRHub.csproj.AssemblyReference.cache
Due: none

feat: handle metamodel loading in extension
  src/app/App.jsx
Due: eslint --max-warnings 0 --fix, prettier --write
