Repository Radical-Tools/Radical.Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": "eslint --max-warnings 0 --fix ",
    "*.{js,jsx,md,html,css}": "prettier --write"
}

Fix tests again...
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Improve node description feature (#174)
  package.json
  src/view/components/NodeDescriptionIcon.jsx
  src/view/widgets/DiagramWidget/diagram/links/RadicalLinkModel.js
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeModel.js
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

C4 Metamodel extended
  src/data/metamodels/c4/c4Metamodel.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix icon alignment
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix interactions to actor
  src/data/metamodels/c4/c4Metamodel.js
Due: eslint --max-warnings 0 --fix, prettier --write

Bump version number
  package.json
Due: none

Add better handling for long strings in nodes
  src/view/components/EditableLabel.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Add database interaction for external system
  src/data/metamodels/c4/c4Metamodel.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix actor interactions and icon alignment (#182)
  package.json
  src/data/metamodels/c4/c4Metamodel.js
  src/view/components/EditableLabel.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Migrate to MUI 5
  package-lock.json
  package.json
  src/app/App.jsx
  src/app/createAppTheme.js
  src/view/components/CommonForm.jsx
  src/view/components/DialogAppBar.jsx
  src/view/components/EditableLabel.jsx
  src/view/components/FileReader.jsx
  src/view/components/HistoryTimeline.jsx
  src/view/components/NodeContextPanel.jsx
  src/view/components/NodeDescriptionIcon.jsx
  src/view/components/TextFieldDebounced.jsx
  src/view/components/Timeline.jsx
  src/view/components/ToolbarMenu.jsx
  src/view/components/ViewExportMenu.jsx
  src/view/layout/AdminDialog.jsx
  src/view/layout/CardWrapper.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/layout/MenuWidgetListItem.jsx
  src/view/layout/NotificationsDisplayHandler.jsx
  src/view/layout/TopMenu.jsx
  src/view/layout/WidgetsPanel.jsx
  src/view/panels/MetamodelToolbarWidget.jsx
  src/view/panels/ModelToolbarWidget.jsx
  src/view/panels/PresentationTimelineToolbarWidget.jsx
  src/view/panels/PresentationsToolbarWidget.jsx
  src/view/panels/PropertiesToolbarWidget.jsx
  src/view/panels/ViewsToolbarWidget.jsx
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/labels/RadicalLabelWidget.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Change node version on runners
  .github/workflows/aws-deploy.yml
  .github/workflows/commit-validation.yml
Due: none

Fix broken dependency
  package-lock.json
  package.json
Due: none

Fix dependencies
  src/app/App.jsx
  src/app/createAppTheme.js
  src/view/components/CommonForm.jsx
  src/view/components/EditableLabel.jsx
  src/view/components/FileReader.jsx
  src/view/components/HistoryTimeline.jsx
  src/view/components/TextFieldDebounced.jsx
  src/view/components/Timeline.jsx
  src/view/components/ToolbarMenu.jsx
  src/view/components/ViewExportMenu.jsx
  src/view/layout/CardWrapper.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
  src/view/layout/WidgetsPanel.jsx
  src/view/panels/ModelToolbarWidget.jsx
  src/view/panels/PresentationTimelineToolbarWidget.jsx
  src/view/panels/PresentationsToolbarWidget.jsx
  src/view/panels/ViewsToolbarWidget.jsx
  src/view/widgets/DiagramWidget/diagram/labels/RadicalLabelWidget.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix styled import for tests
  src/view/components/EditableLabel.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix minor and patch
  package-lock.json
  package.json
Due: none

Change react scripts dep
  package-lock.json
  package.json
Due: none

Fix eslint
  .eslintrc.js
  package-lock.json
  src/data/metamodels/c4/C4Icons.jsx
  src/tests/e2e/helpers.js
  src/view/components/FileReader.test.jsx
  src/view/components/ToolbarMenu.jsx
  src/view/layout/CardWrapper.jsx
  src/view/layout/CardWrapper.test.jsx
  src/view/layout/Drawer.test.jsx
  src/view/layout/HomeDialog.test.jsx
  src/view/layout/NotificationsDisplayHandler.jsx
  src/view/layout/TopMenu.test.jsx
  src/view/layout/WidgetsPanel.test.jsx
  src/view/widgets/DiagramWidget/diagram/DiagramWidget.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/GenericIcon.jsx
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeWidget.test.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix bundle issue
  package-lock.json
  package.json
  src/view/components/CommonForm.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Return to old dep
  package-lock.json
  package.json
Due: none

Switch to node 14
  .github/workflows/aws-deploy.yml
  .github/workflows/commit-validation.yml
Due: none

Node 14 nolocl
  .github/workflows/commit-validation.yml
  package-lock.json
  package.json
Due: none

Update all packages
  .github/workflows/aws-deploy.yml
  .github/workflows/commit-validation.yml
  package-lock.json
  package.json
Due: none

Fix position error
  src/view/widgets/DiagramWidget/diagram/core/viewModelRenderer.js
  src/view/widgets/DiagramWidget/diagram/nodes/RadicalComposedNodeModel.js
Due: eslint --max-warnings 0 --fix, prettier --write

Restore cache
  .github/workflows/commit-validation.yml
Due: none

Change readme a bit
  README.md
Due: prettier --write

Add line break for readme in development section
  README.md
Due: prettier --write

Add nested items for project
  src/controller/handlers/project.js
Due: eslint --max-warnings 0 --fix, prettier --write

Move model state to project
  src/controller/handlers/common.js
  src/controller/handlers/history.js
  src/controller/handlers/model.js
  src/controller/handlers/viewModel.js
  src/model/initialState.js
  src/model/viewModelReducer.test.js
  src/view/panels/modelToolbarContainer.js
  src/view/panels/viewsToolbarContainer.js
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Remove viewModel from root store
  src/controller/handlers/common.js
  src/controller/handlers/history.js
  src/controller/handlers/presentation.js
  src/controller/handlers/viewModel.js
  src/controller/handlersMap.js
  src/model/initialState.js
  src/model/viewModelReducer.test.js
  src/view/panels/modelToolbarContainer.js
  src/view/panels/viewsToolbarContainer.js
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Move history under the project
  src/controller/handlers/history.js
  src/controller/handlers/presentation.js
  src/controller/handlersMap.js
  src/model/historyReducer.js
  src/model/initialState.js
  src/view/layout/MainLayoutContainer.jsx
  src/view/layout/TopMenuContainer.jsx
  src/view/widgets/DiagramWidget/diagram/diagramWidgetContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix tests
  src/model/modelReducer.test.js
  src/model/viewModelReducer.test.js
Due: eslint --max-warnings 0 --fix, prettier --write

Move presentations under project
  src/controller/handlers/history.js
  src/controller/handlers/presentation.js
  src/controller/handlersMap.js
  src/model/initialState.js
  src/view/layout/MainLayoutContainer.jsx
  src/view/panels/presentationTimelineToolbarContainer.js
  src/view/panels/presentationsToolbarContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Make metamodel state future proof
  src/controller/handlers/common.js
  src/controller/handlers/model.js
  src/controller/handlers/viewModel.js
  src/model/initialState.js
  src/model/modelReducer.test.js
  src/view/panels/metamodelToolbarContainer.js
Due: eslint --max-warnings 0 --fix, prettier --write

Save/load to file with new approach
  package-lock.json
  package.json
  src/controller/actions/actionCreators.js
  src/controller/handlers/model.js
  src/controller/handlers/project.js
  src/controller/handlers/state.js
  src/model/modelReducer.test.js
  src/view/components/FileReader.jsx
  src/view/layout/Drawer.jsx
  src/view/layout/HomeDialog.jsx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix load old project versions
  package-lock.json
  package.json
  public/example-projects/Test Project-0.2.0.radical
  src/controller/handlers/state.js
  src/controller/hooks/useProjectUrlLoad.js
Due: eslint --max-warnings 0 --fix, prettier --write

Add load from local storage
  src/controller/actions/actionCreators.js
  src/controller/handlers/localStorage.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix state
  src/controller/handlers/state.js
Due: eslint --max-warnings 0 --fix, prettier --write

Fix local storage tests and history
  src/controller/handlers/localStorage.test.js
  src/controller/handlers/state.js
Due: eslint --max-warnings 0 --fix, prettier --write
